@import '../node_modules/antd/dist/antd.less';

//Global
@main-color-white: #ffffff;

@layout-header-background: @main-color-white;
@layout-body-background: @main-color-white;

.ant-layout{
    height: 100vh;

    &-header {
        height: 64px;
        line-height: 50px !important;
        padding:0px !important;
    }

    &-content {
        overflow: auto;
    }
}

.main-menu{
    width: 100%;
    align-items: center;
}